<div class="pace">
  <div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div>
<main id="main-scrollbar" data-scrollbar="">
  <div class="main-container">
    <!-- HERO  -->  
    <header class="hero">
      <div class="animatebackground"></div>
      <div class="parallax-background background-image"></div>
      <div class="row heading container parallax" style="top:20%;">
        <h1 id="animate1" class="names" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Brittney<img src="<%= asset_path('and.svg') %>" class="decorative"><em class="hidden">And</em>Steven</h1>
        <h3 id="animate2" class="message" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">are getting married April 21st, 2018</h3>
      </div>
      <div class="icon-scroll"></div>  

      <div id="animate4" class="hero-background"></div>    
    </header>
    
    
    <!-- STORY  -->  
    <section class="story">
      <div class="row">
        <div id="animate5" class="brittney medium-8 columns">
          <h2>Brittney Avey</h2>
            <p>The first day we met was at Steven’s parents house. At the time, I was working with his brother, Jordan, who invited me and some other friends over to their house. When I walked into their house, I saw Steven sitting at the counter. My first impression of him was that he was extremely quiet and shy. Little did I know, he was so much more. He is the most easy going, hard-working man with a huge heart and a lot of patience. He always pushes me to be a better person and encourages me to never stop growing. I never would have guessed that he would have asked me to marry him (with a puppy that I bugged him about for months). I can not wait to spend the rest of my life with him by my side.</p>
        </div>

        <div id="animate6" class="steven medium-8 columns">
          <h2>Steven Rushing</h2>
            <p>Brittney and I met through my brother, who jokingly likes to take all the credit. I remember the first time we met back in 2011. A bit intoxicated (most would say), I thought Brittney was beautiful. It didn’t take long for me to find out that Brittney is kind, thoughtful, goofy, fun and a loving person. What attracted me to Brittney the most was that she was so kind-hearted. We have been dating for over 100 years. Brittney means so much to me and I can’t believe she is actually going to marry me!</p>
        </div>
      </div>
    </section>
    
    
    
    <!-- QUOTE  -->  
    <section class="quote">
      <div class="row">
        <div class="large-6 large-offset-10 column">
          <blockquote>
            <p>Sometimes the grandest adventure is not where you go but who you're with</p>
          </blockquote>
        </div>
      </div>
    </section>
    
    
    <!-- SLIDER  --> 
    <section class="slider">
        <div class="mainslider">
          <div>
            <div class="parallax-background" style="background: url(<%= asset_path('Slider2.jpg') %>) center center / cover no-repeat;"></div>
          </div>
          <div>
            <div class="parallax-background" style="background: url(<%= asset_path('Slider3.jpg') %>) center center / cover no-repeat;"></div>
          </div>
          <div>
            <div class="parallax-background" style="background: url(<%= asset_path('Slider4.jpg') %>) center center / cover no-repeat;"></div>
          </div>
          <div>
            <div class="parallax-background" style="background: url(<%= asset_path('Slider5.jpg') %>) center center / cover no-repeat;"></div>
          </div>
          <div>
            <div class="parallax-background" style="background: url(<%= asset_path('Slider6.jpg') %>) center center / cover no-repeat;"></div>
          </div>
          <div>
            <div class="parallax-background" style="background: url(<%= asset_path('Slider7.jpg') %>) center center / cover no-repeat;"></div>
          </div>
          <div>
            <div class="parallax-background" style="background: url(<%= asset_path('Slider1.jpg') %>) center center / cover no-repeat;"></div>
          </div>
        </div>
    </section>
    
    <!-- SLIDER THUMBNAILS  --> 
    <section class="thumbnails">
      <div class="row">
        <div class="large-10 large-offset-6 columns thumbnailcontainer">
          <div class="thumbnail">
            <div>
              <img src="<%= asset_path('Slider3.jpg') %>" alt="Oregon creek" title="Brittney and Steven">
            </div>
            <div>
              <img src="<%= asset_path('Slider4.jpg') %>" alt="Brittney and Steven walking down" title="Brittney and Steven">
            </div>
            <div>
              <img src="<%= asset_path('Slider5.jpg') %>" alt="Brittney and Steven holding hands" title="Brittney and Steven">
            </div>
            <div>
              <img src="<%= asset_path('Slider6.jpg') %>" alt="Brittney and Steven walking" title="Brittney and Steven">
            </div>
            <div>
              <img src="<%= asset_path('Slider7.jpg') %>" alt="Brittney and Steven holding hands" title="Brittney and Steven">
            </div>
            <div>
              <img src="<%= asset_path('Slider1.jpg') %>" alt="Brittney and Steven kissing" title="Brittney and Steven">
            </div>
            <div>
              <img src="<%= asset_path('Slider2.jpg') %>" alt="Brittney and Steven walking" title="Brittney and Steven">
            </div>
          </div>
            <a href="#0" id="button" class="button cd-btn modal-trigger"><span class="button-text">Engagement Photos</span>
              <div class="squares">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
              </div>
            </a>

        </div>
      </div>
    </section>
    
    
     
    
    <!-- WEDDING DETAILS  --> 
    <section id="wedding" class="wedding">
      <div class="row background">

      <span class="parent">
        <span class="child"></span>
      </span>

        <div class="large-16 columns">
          <h2 id="animate11">Wedding Details</h2>
        </div>

        <div id="animate8" class="medium-5 columns">
          <h4>Location</h4>
          <p>Our wedding will be held at the <strong>Cheeca Lodge &amp; Spa</strong> in Islamorada, Florida Keys. The ceremony will take place on the beach at Cheeca nestled in the beautiful Florida Keys followed by the reception on the beach.</p>
          <a class="link" href="https://www.google.com/maps/dir//Cheeca+Lodge+%26+Spa,+81801+Overseas+Hwy,+Islamorada,+FL+33036/@24.9160207,-80.6352442,17z/data=!4m15!1m6!3m5!1s0x88d7375f8b536103:0xdd5ddc918e7887e8!2sCheeca+Lodge+%26+Spa!8m2!3d24.9160207!4d-80.6330555!4m7!1m0!1m5!1m1!1s0x88d7375f8b536103:0xdd5ddc918e7887e8!2m2!1d-80.6330555!2d24.9160207" target="_blank">Get Directions</a>
        </div>

        <div id="animate10" class="medium-5 end columns">
          <h4>Accommodations</h4>
          <p>We have reserved 10 rooms at Cheeca Lodge &amp; Spa (under Brittney Avey). The hotel is about a 35-50 minute drive from Miami.</p>
          <a class="link" href="https://www.cheeca.com/" target="_blank">View The Hotel</a>
        </div> 

      </div>
    </section>
    
    
    
    
    
    <!-- WEDDING TIMELINE  --> 
    
    <section class="timeline">
      <div class="row">
      <div class="timeline-background"></div>

        <div class="small-8 medium-5 large-3 columns time">
          <img src="<%= asset_path('ring.svg') %>">
          <p>Ceremony Begins</p>
          <h6>6:45pm</h6>
        </div>

        <div class="small-8 medium-5 large-3 columns time">
          <img src="<%= asset_path('drinking.svg') %>">
          <p>Cocktail Hour</p>
          <h6>7:15pm</h6>
        </div>

        <div class="small-8 medium-5 large-3 columns time">
          <img src="<%= asset_path('dinner.svg') %>">
          <p>Dinner Served</p>
          <h6>8:15pm</h6>
        </div>

        <div class="small-8 medium-5 large-3 end columns time">
          <img src="<%= asset_path('music.svg') %>">
          <p>Open Dance Floor</p>
          <h6>9:30pm</h6>
        </div>

      </div>
    </section>
    
    
    
    <!-- REGISTRY  --> 
    
    <section id="registry" class="registry">
      <div class="row">
        <div class="medium-8 columns">
          <h2 id="animate12">Registry</h2>
          <p id="animate12">Everything we put on the registries are things that we’ll love, but honestly, the most important gift you can bring us is having you and your dancing shoes at our celebration. We are pumped to spend our special day with you and feel very blessed to have you in our lives.</p>
        </div>
      </div>
      <div class="row">
        <div class="large-16 columns">
          <a href="#" class="gift" target="_blank" style="width:20%;"><img src="<%= asset_path('honeyfund-logo.png') %>" id="animate12" alt="Honeyfund registry" title="Honeyfund registry"></a>
          <a href="#" class="gift" target="_blank"><img src="<%= asset_path('crateandbarrel.svg') %>" id="animate12" alt="Crate and Barrel registry" title="Crate and Barrel registry"></a>
          <a href="#" class="gift" target="_blank" style="width:15%;"><img src="<%= asset_path('ws-logo.jpg') %>" id="animate12" alt="Williams Sonoma registry" title="Williams Sonoma registry"></a>
          <a href="#" class="gift" target="_blank" style="width:15%;filter: grayscale(100%);"><img src="<%= asset_path('Target_logo.svg') %>" id="animate12" alt="Target registry" title="Target registry"></a>
        </div>
      </div>
    </section>
    
    
    
    
    <footer>
      <div class="row">
        <p>Made with a lot of Love by a Little Rushing</p>&nbsp;<a href="https://www.instagram.com/rushingabroad" target="_blank"><img src="<%= asset_path('insta.svg') %>" alt="Jordan's instagram account" title="Rushing" style="width:5%;"></a>
      </div>
    </footer>

  </div><!--main container-->
</main>
    
    
    
<!-- MODAL  -->
<section id="modal">
  <div class="modal">
    <a href="#0" class="modal-close"><span>close</span></a>
    <div id="modal-scrollbar" data-scrollbar="">
      <div class="modal-content">
        <div class="row grid">
          <div class="gutter-sizer"></div>
          <!--Wahclella Falls-->
          <div class="grid-item grid-item--two-third"><img class="lazy" data-original="<%= asset_path('StevenAndBrittney1.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--one-third"><img class="lazy" data-original="<%= asset_path('StevenAndBrittney2.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--one-third"><img class="lazy" data-original="<%= asset_path('StevenAndBrittney3.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--half"><img class="lazy" data-original="<%= asset_path('StevenAndBrittney4.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--half tall"><img class="lazy" data-original="<%= asset_path('StevenAndBrittney5.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--half tall"><img class="lazy" data-original="<%= asset_path('StevenAndBrittney10.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--half tall"><img class="lazy" data-original="<%= asset_path('StevenAndBrittney7.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--half tall"><img class="lazy" data-original="<%= asset_path('StevenAndBrittney8.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--half tall"><img class="lazy" data-original="<%= asset_path('StevenAndBrittney9.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--half"><img class="lazy" data-original="<%= asset_path('StevenAndBrittney12.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--full tall"><img class="lazy" data-original="<%= asset_path('StevenAndBrittney6.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--half tall"><img class="lazy" data-original="<%= asset_path('StevenAndBrittney11.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--half"><img class="lazy" data-original="<%= asset_path('StevenAndBrittney13.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--half"><img class="lazy" data-original="<%= asset_path('StevenAndBrittney14.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--half tall"><img class="lazy" data-original="<%= asset_path('StevenAndBrittney15.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--half"><img class="lazy" data-original="<%= asset_path('StevenAndBrittney16.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--half"><img class="lazy" data-original="<%= asset_path('StevenAndBrittney18.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--full really-tall"><img class="lazy" data-original="<%= asset_path('StevenAndBrittney17.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <!--Lost Lake--><!--
          <div class="grid-item grid-item--half tall"><img class="lazy" data-original="<%= asset_path('LostLake1.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--half"><img class="lazy" data-original="<%= asset_path('LostLake2.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--half"><img class="lazy" data-original="<%= asset_path('LostLake3.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--two-third"><img class="lazy" data-original="<%= asset_path('LostLake5.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--one-third"><img class="lazy" data-original="<%= asset_path('LostLake4.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--one-third"><img class="lazy" data-original="<%= asset_path('LostLake6.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--half"><img class="lazy" data-original="<%= asset_path('LostLake7.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--half tall"><img class="lazy" data-original="<%= asset_path('LostLake8.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--half"><img class="lazy" data-original="<%= asset_path('LostLake9.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <!--Hood River
          <div class="grid-item grid-item--two-third"><img class="lazy" data-original="<%= asset_path('HoodRiver1.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--one-third"><img class="lazy" data-original="<%= asset_path('HoodRiver2.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--one-third"><img class="lazy" data-original="<%= asset_path('HoodRiver3.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--one-third"><img class="lazy" data-original="<%= asset_path('HoodRiver4.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--two-third"><img class="lazy" data-original="<%= asset_path('HoodRiver5.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--one-third"><img class="lazy" data-original="<%= asset_path('HoodRiver6.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>
          <div class="grid-item grid-item--full"><img class="lazy" data-original="<%= asset_path('HoodRiver7.jpg') %>" src="<%= asset_path('lazy.jpg') %>" alt="Brittney and Steven"></div>-->
        </div>
      </div> <!-- .modal-content -->
    </div>
  </div> <!-- .modal -->
  
  <div class="transition-layer"> 
    <div class="bg-layer"></div>
  </div> <!-- .cd-transition-layer -->
</section>


<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>